<p>about works!</p>
<ul type=square >
    <li>BCA I
        <ol>
            <li>sarojini</li>
            <li>riya</li>
            <li>shushma</li>
        </ol>
    </li>
    <li>BCA III
        <ol><li>
            priya</li>
        <li>anisha</li>
    <li>tulsi</li></ol>
    </li>
    <li>BCA V
        <ol><li>neetu</li>
        <li>laxmi</li>
    <li>neha</li></ol>
    </li>
</ul>
<dl>
    <dt font >Html</dt>
    <dd>html stand for hyper text markup language its a body of any webpage</dd>
</dl>
<button (click)="layoutdesign()">layoutdesign</button>

   
