
 <div class="contain">
    <div class="text"
    >log in to continue</div>
    <div class="page">
      <div class="title">instagram</div>
      <form >
        <input type="text" placeholder="phone number,uername,or email" #username>
        <input type="password" placeholder="password" #password>
        <input type="button" value="Login" (click)="login(username.value,password.value)">
         
         
      </form>
    </div>
      <div class="fblink">
        <span class="fab fa-facebook"></span>
          <a href="#">log in with facebook</a>
    </div >
    <div class="forgate-id">
  <a href="#">forgate password</a>
    </div>
    <div class="signup"> 
      <p>don"t have an account?</p>
    </div>
  </div>
  