<p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.</p>
<button (click)="contactUs()">contact</button>
<table  cellspacing="5" cellpading="5" border="2" backgroud="/images/global college.jpg" align="center" >
    <tr>
    <th>s.no</th>
    <th>name</th>
     <th>course</th>
       <th> add_ress
       </th></tr>
       <tr>
           <td>1</td>
<td>neetu</td>
<td>bca</td>
<td>phase-2</td>
</tr>
<tr>
    <td>2</td>
    <td>laxmi</td>
    <td>bca</td>
    <td>alpha</td>
</tr>
<tr>
    <td>3</td>
    <td>rani</td>
    <td rowspan="2">bpharma</td>
    <td>dadri</td>
</tr>
<tr>
    <td>4</td>
    <td>seema</td>
    <td>naya gaon</td>
</tr>
    </table>
    
    <label for="cars">Choose a car:</label>

<select name="cars" id="cars" (change)="vehicle($event)">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>
